* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: url("./bg.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

button {
  cursor: pointer;
}

/* ***********
lanidng page
************* */
.landing-page-container {
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  background-color: white;
  width: 100vw;
  z-index: 2;
}

.landing-page-container[data-active="false"] {
  display: none;
}

.landing-page-container img {
  width: 20vw;
  margin: 3vh;
  filter: drop-shadow(2px 4px 3px grey);
}
.landing-page-container h2 {
  text-transform: uppercase;
  color: #424040;
  margin: 1rem 0;
}
.landing-page-container h1 {
  margin: 1rem 0 0.3rem 0;
  font-size: 2rem;
}
.landing-page-container h3 {
  color: #444242;
}

.welcome {
  text-align: center;
}

.landing-page-container button {
  background-color: green;
  border: none;
  font-size: 2vw;
  padding: 1rem;
  box-shadow: 5px 2px 4px grey;
  border-radius: 15px;
  margin-top: 5vh;
}
.landing-page-container p {
  font-size: 1.5vw;
  padding: 1rem;
  display: flex;
}

.info-cards {
  margin: 3vh;
}

/* *********'
PRELOADER
*********** */

.preloader[data-active="false"] {
  display: none;
}

.preloader {
  width: 100%;
  height: 100vh;
  background-color: #0a4004;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ********

TASKS
******* */

.cards-Container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: flex-start;
}

form {
  display: flex;
}

.text-area {
  display: flex;
  align-items: center;
  border-radius: 15px;
  transition: background-color 0.1s ease-in-out;
}

.text-area img {
  display: none;
  position: absolute;
  width: 1rem;
  height: 1rem;
  transform: translateX(224px);
}

.text-area:hover img {
  display: block;
}

textarea {
  padding: 0.4rem;
  width: 250px;
  background-color: #ccc;
  font-size: 1rem;
  border: none;
  resize: none;
  transition: background-color 0.1s ease-in-out;
  border-radius: 15px;
}

textarea:hover {
  background-color: rgb(129, 129, 129);
}

textarea:focus {
  background-color: #fff;
}

.text-area textarea:focus + img {
  display: none;
}

.primaryInput {
  border-radius: 10px;
  width: 250px;
}

hr {
  width: 100%;
}
.cards-Container button,
.cancel,
.moreNewitem,
div.more,
.submitLongform {
  border: none;
  color: white;
  width: 80px;
  height: 37px;
  font-size: 15px;
  border-radius: 15px;
  margin: 0.4rem 0rem;
}

.add,
.submitLongform {
  background-color: #0b8a0b;
}

.delete,
.cancel {
  background-color: #b70505;
}

.more img,
.moreNewitem img {
  height: 1rem;
}

.more,
.moreNewitem {
  background-color: #ffbc00;
}
.actionstodo .save {
  background-color: #0b8a0b;
}

.card-boxes h2 {
  text-transform: uppercase;
}

.card-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  color: black;
  box-shadow: 6px 3px 20px 6px grey;
  padding: 2rem 0;
}

[data-id="5e98732636cd7f39000216b6"] {
  order: 1;
}

[data-id="5e98735136cd7f39000216bc"] {
  order: 2;
}

.actionstodo[data-active="false"] {
  display: none;
}

.list-item {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.actionstodo[data-active="true"] {
  display: block;
}

/* *******
MORE INFO
******* */

.more-info-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: none;
  background: linear-gradient(45deg, #f3f3f3, #000000d9);
  border-radius: 15px;
}

.more-info-container[data-active="true"] {
  display: flex;
}

.more-info-inner {
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  height: fit-content;
  background: #afafb7b3;
  padding: 2rem;
  border-radius: 15px;
}

.more-info-inner textarea,
.more-info-inner input[type="text"] {
  background-color: #fff;
  width: 250px;
}

.more-info-inner input,
.more-info-inner select {
  width: fit-content;
}

.more-info-inner > * {
  margin: 1vh;
  display: flex;
  flex-direction: column;
}

.more-info-inner * {
  font-size: 1rem;
}

.more-info-inner label {
  margin-bottom: 0.3rem;
}
.submitLongform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anctions-more-info {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
}
